<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/basestyle.css">
    <link rel="stylesheet" href="~/Content/css/cssdangki.css">

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
