
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<center style="font-family:'Times New Roman, Times, serif' ;font-size: 35px;margin:0;padding-top:20px">GIỚI THIỆU</center>
<p style="margin-left:40px;font-size:25px;line-height:2;">
    FourTL là một brand được thành lập từ T9/2022. Nhưng đã từng bước đột phá vượt qua tất cả để đứng trên đỉnh thế giới. Đạt dc những thành tựu to lớn và mở ra 1 thời đại mới của thời trang nơi mà 4tl- kẻ thống trị thời trang nắm trùm
    tất cả các thiết kế và sản phẩm chất liệu đều mang đến sự đột phá sáng tạo vượt bậc khiến người xem bị choáng ngộp và say mê sản phẩm của họ
    tất cả các sản phẩm luôn luôn cháy hàng trước cả khi sản phẩm đc bán ra
    Không chi đứng đầu giới thời trang họ còn dần đứng đầu trong giới nội thất , các sản phẩm nội thất của họ vừa đẹp và thu hút một cách lạ lùng vừa có những tác dụng và ứng dụng khác nhau khiens người dùng phải tự hỏi:" 4tl này chơi đồ à sản phẩm gì mà ảo ma canada làm nhòe  mascara shizuka nobita thế?"
    ví dụ nhứ chiếc bồn cầu gắn động cơ có thể chuyển shjt thành năng lượng và khiến cho chiêc bồn cầu dịch  chuyển muôn nơi "holy shirt what the duck" trích từ người dùng đã bị dịch chuyển ra mặt trăng khi iar ra cụt shjt sau 5 năm
    theo tui 4tl sẽ là brand tiếp tục đứng đầu trong giới thời trang nhiều năm sau nữa cũng như là ngành thiết kế sản phẩm nội thất - trích báo "...."
</p>
