
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="content-gioithieu">
    <div class="member-num">

        <div class="team-member">
            <div class="team-img">
                <img class="img-responsive" src="https://th.bing.com/th/id/OIP.2b65X7MTFUrmmJd28Sg7rwHaHa?pid=ImgDet&rs=1" alt="team member" width="490" height="834"/>
                <div class="team-intro light-txt"></div>
            </div>
            <div class="team-hover">
                <div class="desk">
                    <h5>NGUYỄN HỮU TOÀN</h5>
                    <h5>21DH111928</h5>

                </div>
                <div class="s-link">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="team-img">
                <img class="img-responsive" src="https://img00.deviantart.net/bf77/i/2013/121/f/5/my_minecraft_avatar__by_ieatlallcrayons-d63pqu8.png" alt="team member"width="490" height="834" />
                <div class="team-intro light-txt"></div>
            </div>
            <div class="team-hover">
                <div class="desk">
                    <h5>NGUYỄN MINH TUẤN</h5>
                    <h5>21DH...</h5>

                </div>
                <div class="s-link">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="team-img">
                <img class="img-responsive" src="https://static-cdn.jtvnw.net/jtv_user_pictures/vince_craven-profile_image-f14112444475375f-300x300.png" alt="team member"width="490" height="834" />
                <div class="team-intro light-txt"></div>
            </div>
            <div class="team-hover">
                <div class="desk">
                    <h5>HÀ TRUNG TRIỂN</h5>
                    <h5>21DH...</h5>
                </div>
                <div class="s-link">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="team-img">
                <img class="img-responsive" src="https://w7.pngwing.com/pngs/275/360/png-transparent-minecraft-pocket-edition-roblox-android-drawing-cartoon-skin-angle-video-game-fictional-character-thumbnail.png" alt="team member" width="490" height="834"/>
                <div class="team-intro light-txt"></div>
            </div>
            <div class="team-hover">
                <div class="desk">
                    <h5>NGUYỄN THANH THIÊN</h5>
                    <h5>21DH...</h5>
                </div>
                <div class="s-link">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>


        </div>
    </div>

