@model List<DOAN_NHOM_CUOIKY_FTL.Models.Category>
    <style>
       .ul-cate a{
            color:black;
             
        }
        .ul-cate{
            display:flex;
        }
        li {
            list-style: none;
            flex-direction: row;
            flex-wrap: wrap;
        }
        a:hover {
            color: var(--text-color--);
        }
    </style>
<div class="ul-cate">
    @{
        foreach (var item in Model)
        {
            <div id="buttons">
                <div  class="button-value">
                    <div>
                        @Html.ActionLink(item.NameCate, "Index", "Products", new { category = item.IDCate }, "")

                    </div>
                </div>
            </div>

        }
    }
</div>