@*@model IEnumerable<DOAN_NHOM_CUOIKY_FTL.Models.ViewModel>*@
@using DOAN_NHOM_CUOIKY_FTL.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "TopNew";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
</div>
<div id="slideshow">
    <div id="slideshow1">
        <div class="slidechange">
            @foreach (var pro in Model)
            {
                <a href="/Products/Details/@pro.ProductID" class="btn btn-dafault">
                    <div class="slide">
                        <img src="~/Content/imgs/@pro.ImagePro" height="150" width="150" />
                    </div>
                </a>
            }
        </div>
    </div>
</div>